@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body { */
  /* background-color: #bda1a3; */
/* } */

main {
  /* background-color:pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  border: 1px solid navy;
  height: 230px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 20px solid #feeda7; /* want boarder to be secondar.main */
  border-radius: 15px;
  
}

.textField {
  width: 300px;
  /* background-color: yellow; */
}

.signUpButton{
  /* border: 1px solid teal; */
  /* want color to be secondar.main */
  color: #feeda7; 
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

/* List {
  list-style-type: none;
  margin: 0;
  padding: 10px;
} */



.readBox {
  /* border: 1px solid brown; */
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  /* width: 1000px; */
  justify-content: "center";
}

/*----------------UserStories specific */


.deleteIcons:hover {
  cursor: pointer;
  /* font-weight: bold; */
}

.storyTitlesList{
  /* border: solid 1px violet; */
  display: flex;

}

.storyTitlesList:hover {
  cursor: pointer;
  /* font-weight: bold; */
}

.titlePaper {
  width: 400px;
  height: 450px;
  border: 20px solid #F8D430;
  overflow-y: scroll;
}

.paperBox {
  /* border: solid 1px grey; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: honeydew */
}

.clickToAdd {
  /* border: solid 1px rebeccapurple; */
  display: flex;
  justify-content: center;
  padding: 10px;
}

.insideMain {
  display: flex; 
  justify-content:center;
  /* border: "1px solid green"; */
}

.list {
  border: solid 5px white;
  padding-top: 50px
}


.list:hover {
  /* background-color: #F59F50; */
  border: 5px solid #F59F50;
  border-radius: .5em;
}



/*-------------------- ReadingPage specific */
.readPaper {
  width: 760px;
  height: 230px;
  border: 20px solid #F8D430;
  overflow-y: scroll;
}

.readingText {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #26349C;
}

.choicesContainerBox {
  height: 290px;
  width: 760px;
  overflow-y: scroll;
  /* border: solid 1px turquoise; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  /* justify-content: "center"; */
}


.buttonJar {
  /* border: solid 1px plum; */
  height: 144px;
  width: 375px;
  overflow-y: scroll;
  padding-top:12px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: green; */
  /* background-color: white; */
}

.choicesButtons {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  color: #076364;
  border: 5px solid white;
}

.choicesButtons:hover{
  cursor: pointer;
  border: 5px solid #F59F50;
  border-radius: .5em;
}
.seeChoicesButtonBox {
  /* border: solid 1px, red; */
  /* background-color: sandybrown; */
  /* color: tomato; */
  /* height: 100px; */
  margin: 10px;
}



/*----------- WholeStorySpecific */
.readPaperWhole {
  width: 760px;
  height: 460px;
  border: 20px solid #F8D430;
  overflow-y: scroll;
}
